.card-title, #courses {
	font-family: 'Righteous', cursive;
	font-size: 40px;
}

#band {
	font-family: 'Londrina Shadow', cursive;
	font-size: 100px;
	color: #fe0da6;
}

#gb, #courses, #about {
	background-color: black;
}

.lead, #addCourse, #editCourse, #login, #register {
	color: white;
}

body {
	/*font-family: 'Roboto', sans-serif;*/
	background-color: black;
	font-family: 'Questrial', sans-serif;
}

#desc, .myPro {
	text-align: center;
}

.thumb { 
	object-fit: cover;
	margin-left: auto;
	margin right: auto;
	height: 40vh;
	width: 100%;
	display: block;
}